NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB2_EFbRgjCHOdcoo1MI5rSFEao54PrVxU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=avia-trans.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=avia-trans
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=avia-trans.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=408511376473
NEXT_PUBLIC_FIREBASE_APP_ID=1:408511376473:web:36dcc20d5cfb44c08a5548

OPENAI_API_KEY=sk-your-openai-key-here
